@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,500;1,600&display=swap');

*{
    margin: 0;
    padding: 0;
}
body{
    overflow: hidden;
}
/*background*/
.ForgotPasswordBackground{
    background: #000000;
}
.ForgotPasswordBackground img{
    width: 100vw;
    background-size: cover;
    opacity: 0.2; 
}

/*logo*/
.ForgotPasswordLogo{
    position: fixed;  
    top: 14.5%;  
    left: 50%;  
    transform: translate(-50%, -50%);
}
.ForgotPasswordLogo img{
    width: 8.5vw;
    height: auto;
}

/*login,email and password*/
.InputEmailandPassword{
    margin-top: -34%;
    position: fixed;
    left: 50.8%;
    transform: translate(-50%, -50%);
}
.textforgot,.textemail{
    font-family: 'Lora', serif;
    color: white;
}
.textforgot{
    margin-left: -1%;
    text-align: center;
    font-style: italic;
    font-size: 32px;
    letter-spacing: 10px;
}
.textemail{
    font-size: 28px;
    margin-top: 2%;
}
.textemailinput{
    outline: none;
    border: none;
    background: none;
    width: 40vw;
    font-family: 'Lora', serif;
    font-size: 24px;
    color: #A3D2FE;
}
#emailinput::placeholder{
    color: #A3D2FE;
    font-size: 20px;
}

/*linktonextpage*/
.buttonsend{
    position: fixed;
    top: 73%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 45vw;
    height: 7vh;
    font-family: 'Lora', serif;
    font-size: 22px;
    color: #3066BE;
    background: #FDEDED;
}
.TextandLinkToLogin{
    position: fixed;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    font-family: 'Lora', serif;
    font-size: 24px;
}
.linktologin{
    color: #A3D2FE;
}
.buttonsend:hover{
    background: #3066BE;
    color: white;
}
