@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai:wght@100;200;300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
}
body{
    overflow: hidden;
}

/*textdescription*/
.textdescription{
    position: fixed;
    top: 23%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: "IBM Plex Sans Thai", sans-serif;
}
.textdescription h3{
    text-align: center;
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    color: white;
}
.textdescription p{
    width: 60vw;
    text-align: center;
    font-style: normal;
    font-weight: 400;
    color: #A3D2FE;
}

/*inputimage*/
.mainpageinputimage {
    background-color: #06214A; 
    position: fixed;
    top: 53%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 24vw; 
    height: 42vh; 
    border-radius: 10px; 
    overflow: hidden; 
    border: 3px solid #A3D1FE;
  }
.buttoninputfileimage{
    width: 13vw;
    background: none;
    color: white;
    font-family: "IBM Plex Sans Thai", sans-serif;
    font-style: normal;
    font-weight: 300;
    border: dashed 4px;
    position: fixed;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%); 
}

/*ิbuttonimageprocess*/
.buttonimgprocess{
    position: fixed;
    top: 82%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 24vw;
    height: 6vh;
    font-family: "IBM Plex Sans Thai", sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    border: 3px solid #A3D2FE;
    background: none;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;   
}
.buttonimgprocess:hover{
    background: #06214A;
}
